/* COLORS ---------------------------------------------------------- */
/* FONTS ---------------------------------------------------------- */
@import url("http://hello.myfonts.net/count/25cb92");
@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");
@import url("http://fonts.googleapis.com/css?family=Raleway:900,800,700");
@import url("http://fonts.googleapis.com/css?family=Yeseva+One");
@import url("http://fonts.googleapis.com/css?family=Montserrat:700");
@import url("http://fonts.googleapis.com/css?family=Vast+Shadow");
@font-face {
  font-family: 'BrandonText-BoldItalic';
  src: url("webfonts/25CB92_0_0.eot");
  src: url("webfonts/25CB92_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/25CB92_0_0.woff") format("woff"), url("webfonts/25CB92_0_0.ttf") format("truetype");
}
@font-face {
  font-family: 'BrandonText-Bold';
  src: url("webfonts/25CB92_1_0.eot");
  src: url("webfonts/25CB92_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/25CB92_1_0.woff") format("woff"), url("webfonts/25CB92_1_0.ttf") format("truetype");
}
@font-face {
  font-family: 'BrandonText-Regular';
  src: url("webfonts/25CB92_2_0.eot");
  src: url("webfonts/25CB92_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/25CB92_2_0.woff") format("woff"), url("webfonts/25CB92_2_0.ttf") format("truetype");
}
.animation-target {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
  z-index: 1000;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  1.666667% {
    -webkit-transform: matrix3d(0.2431, 0.97181, 0, 0, -0.93626, 0.35627, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.2431, 0.97181, 0, 0, -0.93626, 0.35627, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  3.333333% {
    -webkit-transform: matrix3d(-0.83556, 0.55753, 0, 0, -0.70473, -0.71579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.83556, 0.55753, 0, 0, -0.70473, -0.71579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  5% {
    -webkit-transform: matrix3d(-0.88858, -0.4722, 0, 0, 0.26381, -0.97106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.88858, -0.4722, 0, 0, 0.26381, -0.97106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  6.666667% {
    -webkit-transform: matrix3d(-0.18082, -0.9903, 0, 0, 0.92286, -0.40213, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.18082, -0.9903, 0, 0, 0.92286, -0.40213, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  8.333333% {
    -webkit-transform: matrix3d(0.51881, -0.86193, 0, 0, 0.9541, 0.31906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.51881, -0.86193, 0, 0, 0.9541, 0.31906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  10% {
    -webkit-transform: matrix3d(0.89306, -0.46059, 0, 0, 0.62602, 0.78601, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.89306, -0.46059, 0, 0, 0.62602, 0.78601, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  11.666667% {
    -webkit-transform: matrix3d(1.00072, -0.07496, 0, 0, 0.2409, 0.97418, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00072, -0.07496, 0, 0, 0.2409, 0.97418, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  13.333333% {
    -webkit-transform: matrix3d(0.98279, 0.19705, 0, 0, -0.06113, 1.00048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.98279, 0.19705, 0, 0, -0.06113, 1.00048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  15% {
    -webkit-transform: matrix3d(0.93517, 0.35822, 0, 0, -0.25646, 0.96803, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.93517, 0.35822, 0, 0, -0.25646, 0.96803, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  16.666667% {
    -webkit-transform: matrix3d(0.90015, 0.43738, 0, 0, -0.3646, 0.93201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.90015, 0.43738, 0, 0, -0.3646, 0.93201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.333333% {
    -webkit-transform: matrix3d(0.88801, 0.46066, 0, 0, -0.41058, 0.91225, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.88801, 0.46066, 0, 0, -0.41058, 0.91225, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  20% {
    -webkit-transform: matrix3d(0.89496, 0.44652, 0, 0, -0.4141, 0.91041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.89496, 0.44652, 0, 0, -0.4141, 0.91041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  21.666667% {
    -webkit-transform: matrix3d(0.91307, 0.40793, 0, 0, -0.38933, 0.92116, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.91307, 0.40793, 0, 0, -0.38933, 0.92116, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  23.333333% {
    -webkit-transform: matrix3d(0.93499, 0.3547, 0, 0, -0.34678, 0.93796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.93499, 0.3547, 0, 0, -0.34678, 0.93796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  25% {
    -webkit-transform: matrix3d(0.95561, 0.29462, 0, 0, -0.29462, 0.95561, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.95561, 0.29462, 0, 0, -0.29462, 0.95561, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  26.666667% {
    -webkit-transform: matrix3d(0.97229, 0.23378, 0, 0, -0.23926, 0.97096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.97229, 0.23378, 0, 0, -0.23926, 0.97096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  28.333333% {
    -webkit-transform: matrix3d(0.98429, 0.17661, 0, 0, -0.18546, 0.98266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.98429, 0.17661, 0, 0, -0.18546, 0.98266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  30% {
    -webkit-transform: matrix3d(0.99205, 0.12595, 0, 0, -0.13648, 0.99066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99205, 0.12595, 0, 0, -0.13648, 0.99066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  31.666667% {
    -webkit-transform: matrix3d(0.99654, 0.08326, 0, 0, -0.09418, 0.99557, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99654, 0.08326, 0, 0, -0.09418, 0.99557, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  33.333333% {
    -webkit-transform: matrix3d(0.99881, 0.04896, 0, 0, -0.05937, 0.99825, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99881, 0.04896, 0, 0, -0.05937, 0.99825, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35% {
    -webkit-transform: matrix3d(0.99975, 0.02266, 0, 0, -0.03201, 0.9995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99975, 0.02266, 0, 0, -0.03201, 0.9995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  36.666667% {
    -webkit-transform: matrix3d(1, 0.00356, 0, 0, -0.01154, 0.99994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00356, 0, 0, -0.01154, 0.99994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  38.333333% {
    -webkit-transform: matrix3d(0.99996, -0.00942, 0, 0, 0.0029, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99996, -0.00942, 0, 0, 0.0029, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  40% {
    -webkit-transform: matrix3d(0.99985, -0.01741, 0, 0, 0.01233, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99985, -0.01741, 0, 0, 0.01233, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.666667% {
    -webkit-transform: matrix3d(0.99977, -0.02153, 0, 0, 0.01775, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99977, -0.02153, 0, 0, 0.01775, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  43.333333% {
    -webkit-transform: matrix3d(0.99974, -0.02277, 0, 0, 0.02013, 0.9998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99974, -0.02277, 0, 0, 0.02013, 0.9998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  45% {
    -webkit-transform: matrix3d(0.99976, -0.02203, 0, 0, 0.02032, 0.99979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99976, -0.02203, 0, 0, 0.02032, 0.99979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  46.666667% {
    -webkit-transform: matrix3d(0.9998, -0.02, 0, 0, 0.01903, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.9998, -0.02, 0, 0, 0.01903, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  48.333333% {
    -webkit-transform: matrix3d(0.99985, -0.01726, 0, 0, 0.01685, 0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99985, -0.01726, 0, 0, 0.01685, 0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  50% {
    -webkit-transform: matrix3d(0.9999, -0.01423, 0, 0, 0.01423, 0.9999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.9999, -0.01423, 0, 0, 0.01423, 0.9999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  51.666667% {
    -webkit-transform: matrix3d(0.99994, -0.01123, 0, 0, 0.0115, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99994, -0.01123, 0, 0, 0.0115, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  53.333333% {
    -webkit-transform: matrix3d(0.99996, -0.00845, 0, 0, 0.00888, 0.99996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99996, -0.00845, 0, 0, 0.00888, 0.99996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  55% {
    -webkit-transform: matrix3d(0.99998, -0.00601, 0, 0, 0.00652, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99998, -0.00601, 0, 0, 0.00652, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  56.666667% {
    -webkit-transform: matrix3d(0.99999, -0.00397, 0, 0, 0.00449, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99999, -0.00397, 0, 0, 0.00449, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  58.333333% {
    -webkit-transform: matrix3d(1, -0.00233, 0, 0, 0.00283, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00233, 0, 0, 0.00283, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  60% {
    -webkit-transform: matrix3d(1, -0.00108, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00108, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  61.666667% {
    -webkit-transform: matrix3d(1, -0.00017, 0, 0, 0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00017, 0, 0, 0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.333333% {
    -webkit-transform: matrix3d(1, 0.00045, 0, 0, -0.00014, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00045, 0, 0, -0.00014, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  65% {
    -webkit-transform: matrix3d(1, 0.00083, 0, 0, -0.00059, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00083, 0, 0, -0.00059, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  66.666667% {
    -webkit-transform: matrix3d(1, 0.00102, 0, 0, -0.00084, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00102, 0, 0, -0.00084, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  68.333333% {
    -webkit-transform: matrix3d(1, 0.00108, 0, 0, -0.00096, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00108, 0, 0, -0.00096, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  70% {
    -webkit-transform: matrix3d(1, 0.00105, 0, 0, -0.00097, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00105, 0, 0, -0.00097, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  71.666667% {
    -webkit-transform: matrix3d(1, 0.00095, 0, 0, -0.00091, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00095, 0, 0, -0.00091, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  73.333333% {
    -webkit-transform: matrix3d(1, 0.00082, 0, 0, -0.0008, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00082, 0, 0, -0.0008, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  75% {
    -webkit-transform: matrix3d(1, 0.00068, 0, 0, -0.00068, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00068, 0, 0, -0.00068, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  76.666667% {
    -webkit-transform: matrix3d(1, 0.00053, 0, 0, -0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00053, 0, 0, -0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  78.333333% {
    -webkit-transform: matrix3d(1, 0.0004, 0, 0, -0.00042, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.0004, 0, 0, -0.00042, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  80% {
    -webkit-transform: matrix3d(1, 0.00029, 0, 0, -0.00031, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00029, 0, 0, -0.00031, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  81.666667% {
    -webkit-transform: matrix3d(1, 0.00019, 0, 0, -0.00021, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00019, 0, 0, -0.00021, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  83.333333% {
    -webkit-transform: matrix3d(1, 0.00011, 0, 0, -0.00013, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00011, 0, 0, -0.00013, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85% {
    -webkit-transform: matrix3d(1, 0.00005, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00005, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  86.666667% {
    -webkit-transform: matrix3d(1, 0.00001, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00001, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  88.333333% {
    -webkit-transform: matrix3d(1, -0.00002, 0, 0, 0.00001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00002, 0, 0, 0.00001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  90% {
    -webkit-transform: matrix3d(1, -0.00004, 0, 0, 0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00004, 0, 0, 0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  91.666667% {
    -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  93.333333% {
    -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  95% {
    -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  96.666667% {
    -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  98.333333% {
    -webkit-transform: matrix3d(1, -0.00004, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00004, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  1.666667% {
    -webkit-transform: matrix3d(0.2431, 0.97181, 0, 0, -0.93626, 0.35627, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.2431, 0.97181, 0, 0, -0.93626, 0.35627, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  3.333333% {
    -webkit-transform: matrix3d(-0.83556, 0.55753, 0, 0, -0.70473, -0.71579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.83556, 0.55753, 0, 0, -0.70473, -0.71579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  5% {
    -webkit-transform: matrix3d(-0.88858, -0.4722, 0, 0, 0.26381, -0.97106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.88858, -0.4722, 0, 0, 0.26381, -0.97106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  6.666667% {
    -webkit-transform: matrix3d(-0.18082, -0.9903, 0, 0, 0.92286, -0.40213, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.18082, -0.9903, 0, 0, 0.92286, -0.40213, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  8.333333% {
    -webkit-transform: matrix3d(0.51881, -0.86193, 0, 0, 0.9541, 0.31906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.51881, -0.86193, 0, 0, 0.9541, 0.31906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  10% {
    -webkit-transform: matrix3d(0.89306, -0.46059, 0, 0, 0.62602, 0.78601, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.89306, -0.46059, 0, 0, 0.62602, 0.78601, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  11.666667% {
    -webkit-transform: matrix3d(1.00072, -0.07496, 0, 0, 0.2409, 0.97418, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00072, -0.07496, 0, 0, 0.2409, 0.97418, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  13.333333% {
    -webkit-transform: matrix3d(0.98279, 0.19705, 0, 0, -0.06113, 1.00048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.98279, 0.19705, 0, 0, -0.06113, 1.00048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  15% {
    -webkit-transform: matrix3d(0.93517, 0.35822, 0, 0, -0.25646, 0.96803, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.93517, 0.35822, 0, 0, -0.25646, 0.96803, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  16.666667% {
    -webkit-transform: matrix3d(0.90015, 0.43738, 0, 0, -0.3646, 0.93201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.90015, 0.43738, 0, 0, -0.3646, 0.93201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.333333% {
    -webkit-transform: matrix3d(0.88801, 0.46066, 0, 0, -0.41058, 0.91225, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.88801, 0.46066, 0, 0, -0.41058, 0.91225, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  20% {
    -webkit-transform: matrix3d(0.89496, 0.44652, 0, 0, -0.4141, 0.91041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.89496, 0.44652, 0, 0, -0.4141, 0.91041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  21.666667% {
    -webkit-transform: matrix3d(0.91307, 0.40793, 0, 0, -0.38933, 0.92116, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.91307, 0.40793, 0, 0, -0.38933, 0.92116, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  23.333333% {
    -webkit-transform: matrix3d(0.93499, 0.3547, 0, 0, -0.34678, 0.93796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.93499, 0.3547, 0, 0, -0.34678, 0.93796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  25% {
    -webkit-transform: matrix3d(0.95561, 0.29462, 0, 0, -0.29462, 0.95561, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.95561, 0.29462, 0, 0, -0.29462, 0.95561, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  26.666667% {
    -webkit-transform: matrix3d(0.97229, 0.23378, 0, 0, -0.23926, 0.97096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.97229, 0.23378, 0, 0, -0.23926, 0.97096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  28.333333% {
    -webkit-transform: matrix3d(0.98429, 0.17661, 0, 0, -0.18546, 0.98266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.98429, 0.17661, 0, 0, -0.18546, 0.98266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  30% {
    -webkit-transform: matrix3d(0.99205, 0.12595, 0, 0, -0.13648, 0.99066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99205, 0.12595, 0, 0, -0.13648, 0.99066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  31.666667% {
    -webkit-transform: matrix3d(0.99654, 0.08326, 0, 0, -0.09418, 0.99557, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99654, 0.08326, 0, 0, -0.09418, 0.99557, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  33.333333% {
    -webkit-transform: matrix3d(0.99881, 0.04896, 0, 0, -0.05937, 0.99825, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99881, 0.04896, 0, 0, -0.05937, 0.99825, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35% {
    -webkit-transform: matrix3d(0.99975, 0.02266, 0, 0, -0.03201, 0.9995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99975, 0.02266, 0, 0, -0.03201, 0.9995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  36.666667% {
    -webkit-transform: matrix3d(1, 0.00356, 0, 0, -0.01154, 0.99994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00356, 0, 0, -0.01154, 0.99994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  38.333333% {
    -webkit-transform: matrix3d(0.99996, -0.00942, 0, 0, 0.0029, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99996, -0.00942, 0, 0, 0.0029, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  40% {
    -webkit-transform: matrix3d(0.99985, -0.01741, 0, 0, 0.01233, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99985, -0.01741, 0, 0, 0.01233, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.666667% {
    -webkit-transform: matrix3d(0.99977, -0.02153, 0, 0, 0.01775, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99977, -0.02153, 0, 0, 0.01775, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  43.333333% {
    -webkit-transform: matrix3d(0.99974, -0.02277, 0, 0, 0.02013, 0.9998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99974, -0.02277, 0, 0, 0.02013, 0.9998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  45% {
    -webkit-transform: matrix3d(0.99976, -0.02203, 0, 0, 0.02032, 0.99979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99976, -0.02203, 0, 0, 0.02032, 0.99979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  46.666667% {
    -webkit-transform: matrix3d(0.9998, -0.02, 0, 0, 0.01903, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.9998, -0.02, 0, 0, 0.01903, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  48.333333% {
    -webkit-transform: matrix3d(0.99985, -0.01726, 0, 0, 0.01685, 0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99985, -0.01726, 0, 0, 0.01685, 0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  50% {
    -webkit-transform: matrix3d(0.9999, -0.01423, 0, 0, 0.01423, 0.9999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.9999, -0.01423, 0, 0, 0.01423, 0.9999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  51.666667% {
    -webkit-transform: matrix3d(0.99994, -0.01123, 0, 0, 0.0115, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99994, -0.01123, 0, 0, 0.0115, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  53.333333% {
    -webkit-transform: matrix3d(0.99996, -0.00845, 0, 0, 0.00888, 0.99996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99996, -0.00845, 0, 0, 0.00888, 0.99996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  55% {
    -webkit-transform: matrix3d(0.99998, -0.00601, 0, 0, 0.00652, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99998, -0.00601, 0, 0, 0.00652, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  56.666667% {
    -webkit-transform: matrix3d(0.99999, -0.00397, 0, 0, 0.00449, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99999, -0.00397, 0, 0, 0.00449, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  58.333333% {
    -webkit-transform: matrix3d(1, -0.00233, 0, 0, 0.00283, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00233, 0, 0, 0.00283, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  60% {
    -webkit-transform: matrix3d(1, -0.00108, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00108, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  61.666667% {
    -webkit-transform: matrix3d(1, -0.00017, 0, 0, 0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00017, 0, 0, 0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.333333% {
    -webkit-transform: matrix3d(1, 0.00045, 0, 0, -0.00014, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00045, 0, 0, -0.00014, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  65% {
    -webkit-transform: matrix3d(1, 0.00083, 0, 0, -0.00059, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00083, 0, 0, -0.00059, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  66.666667% {
    -webkit-transform: matrix3d(1, 0.00102, 0, 0, -0.00084, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00102, 0, 0, -0.00084, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  68.333333% {
    -webkit-transform: matrix3d(1, 0.00108, 0, 0, -0.00096, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00108, 0, 0, -0.00096, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  70% {
    -webkit-transform: matrix3d(1, 0.00105, 0, 0, -0.00097, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00105, 0, 0, -0.00097, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  71.666667% {
    -webkit-transform: matrix3d(1, 0.00095, 0, 0, -0.00091, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00095, 0, 0, -0.00091, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  73.333333% {
    -webkit-transform: matrix3d(1, 0.00082, 0, 0, -0.0008, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00082, 0, 0, -0.0008, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  75% {
    -webkit-transform: matrix3d(1, 0.00068, 0, 0, -0.00068, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00068, 0, 0, -0.00068, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  76.666667% {
    -webkit-transform: matrix3d(1, 0.00053, 0, 0, -0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00053, 0, 0, -0.00055, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  78.333333% {
    -webkit-transform: matrix3d(1, 0.0004, 0, 0, -0.00042, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.0004, 0, 0, -0.00042, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  80% {
    -webkit-transform: matrix3d(1, 0.00029, 0, 0, -0.00031, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00029, 0, 0, -0.00031, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  81.666667% {
    -webkit-transform: matrix3d(1, 0.00019, 0, 0, -0.00021, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00019, 0, 0, -0.00021, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  83.333333% {
    -webkit-transform: matrix3d(1, 0.00011, 0, 0, -0.00013, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00011, 0, 0, -0.00013, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85% {
    -webkit-transform: matrix3d(1, 0.00005, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00005, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  86.666667% {
    -webkit-transform: matrix3d(1, 0.00001, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.00001, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  88.333333% {
    -webkit-transform: matrix3d(1, -0.00002, 0, 0, 0.00001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00002, 0, 0, 0.00001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  90% {
    -webkit-transform: matrix3d(1, -0.00004, 0, 0, 0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00004, 0, 0, 0.00003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  91.666667% {
    -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  93.333333% {
    -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  95% {
    -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00005, 0, 0, 0.00005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  96.666667% {
    -webkit-transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00005, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  98.333333% {
    -webkit-transform: matrix3d(1, -0.00004, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.00004, 0, 0, 0.00004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 600px;
  font-family: BrandonText-Bold, Futura, Helvetica, Arial, sans-serif;
}

a {
  color: #ffdc00;
  text-decoration: none;
}

.overlay {
  display: block;
  position: fixed;
  opacity: 0;
  z-index: 1000px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  transition: all .5s ease-out;
}

.overlay.show {
  display: block;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.overlay.show .img-holder {
  display: block;
}

.overlay .img-holder {
  display: none;
  position: relative;
  margin: 100px auto;
  border: 10px solid white;
  opacity: 1;
  background: white;
}

.overlay:after {
  display: block;
  content: "close [x]";
  background: #333;
  border-radius: 6px;
  padding: 10px;
  color: white;
  font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  cursor: pointer;
}

nav.main {
  font-family: "Oswald", sans-serif;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
nav.main:before {
  content: '\2630';
  font-size: 3em;
  display: block;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 20px;
  color: #e2d5cd;
  margin: 5px;
  display: none;
}
nav.main ul {
  margin: 0 10px;
  padding: 10px 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}
nav.main ul li {
  flex: 1;
  padding: 0;
  margin: 2px;
}
nav.main ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
  color: #e2d5cd;
  text-transform: uppercase;
  min-height: 3em;
  max-height: 3em;
}
nav.main ul li a:hover {
  background: #131313;
  color: #e2d5cd;
}

nav.side ul {
  position: fixed;
  right: -10px;
  top: 50%;
  list-style: none;
  margin: -120px 0;
  border-radius: 6px;
  padding: 10px;
  width: 30px;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1001;
}
nav.side ul:after {
  position: absolute;
  border-radius: 6px;
  color: white;
  padding: 10px;
  top: -50px;
  content: "navigate";
  display: block;
  right: 10px;
  text-align: right;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
nav.side ul a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px 0;
  background: white;
  position: relative;
}
nav.side ul a:before {
  display: block;
  position: relative;
  width: inherit;
  height: inherit;
  background: #005a81;
  border-radius: 50%;
  content: "";
  z-index: -1;
  transition: -webkit-transform 0.25s ease-out;
}
nav.side ul a:after {
  content: attr(data-name);
  position: absolute;
  top: -.5em;
  left: -130px;
  width: 100px;
  text-align: right;
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: .85em;
  background: #231f20;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
nav.side ul a:hover:before {
  -webkit-transform: scale(2);
}
nav.side ul a:hover:after {
  opacity: 1;
}

.window {
  width: 100%;
  height: 100%;
  position: absolute;
}

.show ul {
  display: block;
}
.show:before {
  display: none;
}

.window:nth-child(1) {
  background: #e2d5cd;
  top: 0%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(2) {
  background: #9dd29c;
  top: 100%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(3) {
  background: #60bb46;
  top: 200%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(4) {
  background: #f79d33;
  top: 300%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(5) {
  background: #737373;
  top: 400%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(6) {
  background: #231f20;
  top: 500%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(7) {
  background: #3d9970;
  top: 600%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(8) {
  background: #45586c;
  top: 700%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(9) {
  background: #a8d5d3;
  top: 800%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(10) {
  background: #133880;
  top: 900%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window:nth-child(11) {
  background: #be4344;
  top: 1000%;
  /* POSITIONS EACH WINDOW (absolute) */
}

.window .content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -170px;
  color: white;
}

.content ul {
  margin-left: 0;
  list-style: none;
}

p, h2, .content ul {
  margin-left: 40%;
  width: 40%;
  min-width: 500px;
}

p {
  font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;
}

strong {
  font-family: BrandonText-Bold, Futura, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

i {
  width: 100%;
  text-align: center;
  display: inline-block;
}

h1 {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  font-size: 2em;
  font-family: "Vast Shadow", cursive;
  font-weight: 400;
  margin: 20px auto;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

h1 span {
  border-top: 1px solid white;
  font-size: 2.5em;
  font-family: "Montserrat", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: relative;
  width: 100%;
  z-index: 1;
  color: #a8d5d3;
  text-shadow: 0.04em 0.04em 0 #131313;
}

h1 span:after {
  content: attr(data-shadow);
  width: inherit;
  color: #295553;
  text-shadow: none;
  position: absolute;
  left: .08em;
  top: .08em;
  z-index: -1;
  -webkit-mask-image: url(../img/mask.png);
}

h2 {
  font-weight: normal;
  font-size: 2em;
}

.content img {
  border-radius: 50%;
  width: 30%;
  position: absolute;
  background: white;
  left: 5%;
}

h2 span.subject {
  text-transform: uppercase;
  display: block;
  font-size: 2em;
  line-height: 1.25em;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
}

#top {
  background: #e2d5cd url(../img/type_@2X.png) 0 0 repeat;
}
#top img {
  border: 10px solid white;
}
#top a {
  text-decoration: none;
}
#top .all-logos {
  position: relative;
  margin: 0;
  padding: 0;
  width: 650px;
  margin: 0 auto;
  top: -50px;
}
#top .all-logos a {
  float: left;
  position: relative;
  display: block;
  width: 8%;
  margin: 1%;
  padding: 0;
  transition: border 0.5s ease-out;
}
#top .all-logos a:before {
  background: rgba(0, 90, 129, 0.8);
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  content: attr(data-name);
  text-align: center;
  color: white;
  line-height: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  transition: opacity .5s ease-out;
}
#top .all-logos a img {
  display: block;
  width: 50%;
  position: relative;
  border-radius: 0;
  left: 0;
}
#top .all-logos a:hover:before {
  opacity: 1;
}
