/* COLORS ---------------------------------------------------------- */
$light-gray:#D5D7DD;
$teal:#1babb7;
$light-green:#6ab29f;
$light-gray: #e2d5cd;
$red:#d0482b;
$off-black:#231f20;
$blue: #005a81;
$green: #BADA55;
$dark-gray: #131313;
$purple: #312dca;
$navy: #102a48;
$aqua: #7fdbff;
$teal: #15ad55;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #bb1919;
$hos-orange: #eb2903;
$performance-teal: #03a08e;
$production-salmon: #ef3f4a;
$accounting-blue: #a8d5d3;
$sales-support-orange: #ed9b0b;
$emedia-gray: #737373;
$it-periwinkle: #a061d6;
$dev-gray: #c2c1c1;
$admin-blue: #a8d5d3;
$paula: #9dd29c;
$emily: #60bb46;
$katie: #f79d33;
$neil: #45586c;
$rob: #133880;
$diane: #be4344;

$colors: $light-gray, $paula, $emily, $katie, $emedia-gray, $off-black, $olive, $neil, $accounting-blue, $rob, $diane;
